[Unit]
Description=User Info Flask Application
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/home/ec2-user/UserInfoApp/backend
ExecStart=/usr/bin/python3 app/main.py
Restart=always
Environment="PATH=/usr/bin"

[Install]
WantedBy=multi-user.target


